<div class="flex flex-col h-screen">
  <div
    class="h-72 bg-cover bg-mobile-pattern sm:bg-desktop-pattern bg-blue-100"
  >
    <h1 class="text-center text-4xl font-bold text-white font-rubik pt-5">
      IP Address Tracker
    </h1>
    <div class="w-screen justify-center flex mt-9">
      <form>
        <input
          [ngModelOptions]="{ standalone: true }"
          (ngSubmit)="changeIP()"
          [(ngModel)]="currIP"
          type="text"
          id="search-dropdown"
          class="focus:outline-none p-2.5 w-96 m-auto rounded-l-lg"
          placeholder="Search for any IP address or domain"
        />
        <button
          (click)="changeIP()"
          type="submit"
          class="text-white bg-black font-medium h-full rounded-r-lg px-4 py-2 hover:bg-gray-800"
        >
          <img src="assets/icon-arrow.svg" />
        </button>
      </form>
    </div>

    <div
      class="relative rounded z-50 flex flex-col lg:flex-row w-3/4 max-w-6xl bg-white m-auto mt-10"
    >
      <div class="mt-2 w4/5 lg:w-1/4 lg:mt-4 mx-7">
        <div
          class="text-center lg:text-left tracking-wider text-sm font-bold text-stone-400"
        >
          IP ADDRESS
        </div>
        <div
          class="text-center lg:text-left text-lg lg:text-3xl font-semibold font-rubik py-2 lg:py-4 break-words mr-4"
        >
          {{ ipAddress }}
        </div>
      </div>
      <div class="hidden my-3 lg:block w-0.5 bg-gray-300"></div>
      <div class="mt-2 w4/5 lg:w-1/4 lg:mt-4 mx-7">
        <div
          class="text-center lg:text-left tracking-wider text-sm font-bold text-stone-400"
        >
          LOCATION
        </div>
        <div
          class="text-center lg:text-left text-lg lg:text-3xl font-semibold font-rubik py-2 lg:py-4 break-words mr-4"
        >
          {{ location }}
        </div>
      </div>
      <div class="hidden my-3 lg:block w-0.5 bg-gray-300"></div>
      <div class="mt-2 w4/5 lg:w-1/4 lg:mt-4 mx-7">
        <div
          class="text-center lg:text-left tracking-wider text-sm font-bold text-stone-400"
        >
          TIME ZONE
        </div>
        <div
          class="text-center lg:text-left text-lg lg:text-3xl font-semibold font-rubik py-2 lg:py-4 break-words mr-4"
        >
          {{ timezone }}
        </div>
      </div>
      <div class="hidden my-3 lg:block w-0.5 bg-gray-300"></div>
      <div class="mt-2 w4/5 lg:w-1/4 lg:mt-4 mx-7">
        <div
          class="text-center lg:text-left tracking-wider text-sm font-bold text-stone-400"
        >
          ISP
        </div>
        <div
          class="text-center lg:text-left text-lg lg:text-3xl font-semibold font-rubik py-2 lg:py-4 break-words mr-4"
        >
          {{ ISP }}
        </div>
      </div>
    </div>
  </div>
  <app-map class="z-0 flex-1"></app-map>
</div>
